<div class="padding">
    <fieldset>
        <div class="col-sm-12">
            <div class="box p-a-xs">
                <div ng-click="showAddEdit(separator)" style="cursor:pointer">
                    <div ng-if="separator.image" class="slider-image" style="background-image: url(/uploads/{{separator.image}})"></div>
                </div>
                <div class="p-a-sm">
                    <div class="text-ellipsis">
                        {{separator.title}}
                        <div class="pull-right">
                        <span class="label red"
                              style="cursor:pointer"
                              ng-click="showAddEdit(separator)">
                            <i class="fa fa-pencil"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <imperio-fab></imperio-fab>
</div>


<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}}</h5>
            </div>
            <div class="modal-body p-lg">

                <div class="tab-content p-a m-b-md">

                    <section>
                        <div class="form-group">
                            <label>სათაური: </label>
                            <input class="form-control rounded" type="text" placeholder="სათაური"
                                   ng-model="object.title">
                        </div>
                    </section>

                    <div class="danger alert">
                        <span class="">რეკომენდირებული სურათის გაფართოება: 1440px-333px</span>
                    </div>
                    <fieldset ng-if="object.image != null">
                        <hr>
                        <div class="row">
                            <section class="col col-md-12">
                                <img checkImage ng-src="/uploads/{{object.image}}"
                                     class="img-responsive img-thumbnail" style="width:204px;height:auto;">
                            </section>
                        </div>
                        <hr>
                    </fieldset>
                    <section>
                        <imperio-file-uploader-input></imperio-file-uploader-input>
                    </section>



                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md" ng-disabled="addEditForm.$invalid"
                        ng-click="save()">შენახვა
                </button>
            </div>
        </div>
    </div>
</div>
