<div class="row">
    <div class="col col-md-12">
        <section>
            <br/>
        </section>
        <div class="col col-md-12">
            <input class="form-control" ng-model="object.pageTitle">
        </div>
        <section class="col col-md-12">
            <br/>

            <div class="col col-md-2" ng-repeat="object in fileArr">
                <img ng-src="uploads/{{object}}" class="col col-md-12"/>
                <br/>
                <a href="javascript:void(0)" ng-click="removeFile(fileArr.indexOf(object))" style="padding-left: 12px;">წაშლა</a>
                <a href="javascript:void(0)" ng-click="showAddEdit(fileArr.indexOf(object))" style="padding-left: 12px;">ლინკი</a>
            </div>

            <section class="col col-md-12">
                <div class="form-group">
                    <label>ფოტოები(მაქს 6): </label>
                    <imperio-file-uploader-input-multiple class="uplMult"></imperio-file-uploader-input-multiple>
                </div>
            </section>

            <section class="col col-md-12">
                <button type="button" class="btn danger p-x-md"
                        ng-click="saveLazyMult()">შენახვა
                </button>
            </section>

        </section>

    </div>
</div>


<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}}</h5>
            </div>
            <div class="modal-body p-lg">
                <section>
                    <div class="form-group">
                        <label>ბმული: </label>
                        <input class="form-control rounded" type="text" placeholder="შეიყვანეთ ბმული"
                               ng-model="href">
                    </div>
                </section>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md" ng-disabled="addEditForm.$invalid"
                        ng-click="save()">შენახვა
                </button>
            </div>
        </div>
    </div>
</div>