<script type="text/ng-template" id="nodes_renderer.html">
    <div ui-tree-handle class="tree-node tree-node-content">
        <a class="btn btn-success btn-xs"
           ng-show="node.nodes && node.nodes.length > 0"
           data-nodrag ng-click="toggleItem(this)">
            <span class="glyphicon" ng-class="{
            'glyphicon-chevron-right': collapsed,
            'glyphicon-chevron-down': !collapsed
            }"></span></a>
        {{node.title}}

        <!--<a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="removeItem(this)">-->
            <!--<span class="glyphicon glyphicon-remove"></span>-->
        <!--</a>-->
        <!--<a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)" style="margin-right: 8px;">-->
            <!--<span class="glyphicon glyphicon-plus"></span>-->
        <!--</a>-->
        <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="showAddEdit(node)">
            <span class="glyphicon glyphicon-edit"></span>
        </a>
    </div>
    <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
        <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
        </li>
    </ol>
</script>

<div class="row">
    <div class="col-sm-12" style="margin: 10px;">
        <button ng-click="expandAll()" class="btn">ყველას გაღება</button>
        <button ng-click="collapseAll()" class="btn">ყველას დახურვა</button>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div ui-tree id="tree-root">
            <ol ui-tree-nodes ng-model="data">
                <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
            </ol>
        </div>
    </div>
</div>


<div id="showAddEdit" class="modal black-overlay" data-backdrop="false">
    <div class="modal-dialog modal-lg" ng-form="addEditForm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{init.action}}</h5>
            </div>
            <div class="modal-body p-lg">
                <div class="b-b b-primary nav-active-primary">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="" data-toggle="tab" data-target="#tab-main"
                               aria-expanded="false">მთავარი</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="tab"
                               data-target="#tab-media" aria-expanded="true">ფოტო & ფაილები</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="" data-toggle="tab"
                               data-target="#tab-video" aria-expanded="true">ვიდეო</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content p-a m-b-md">
                    <div class="tab-pane nav-active-primary active" id="tab-main"
                         aria-expanded="false">
                        <section>
                            <div class="form-group">
                                <label>სათაური: </label>
                                <input class="form-control rounded" required type="text" placeholder="სათაური"
                                       ng-model="object.title">
                            </div>
                        </section>
                        <section>
                            <div class="form-group">
                                <label>აღწერა: </label>
                                <summernote config="options"
                                            on-image-upload="imageUploadGE(files, editor)"
                                            editable="editableEN" ng-model="object.descr"></summernote>
                            </div>
                        </section>
                    </div>
                    <div class="tab-pane nav-active-primary" id="tab-media"
                         aria-expanded="false">
                        <label>ფოტო: </label>
                        <imperio-file-uploader-input class="uplSingle"></imperio-file-uploader-input>
                        <img ng-if='object.imageURL' ng-src="uploads/{{object.imageURL}}" width="150" />
                        <br/>
                        <label>ფაილები: </label>
                        <imperio-file-uploader-input-multiple class="uplMult"></imperio-file-uploader-input-multiple>
                        <br/>
                        <div ng-repeat="item in fileArr">
                            <a href="uploads/{{item}}" target="_blank">{{item}}</a>
                            <a href="javascript:void(0)" ng-click="removeFile(fileArr.indexOf(item))"><b>&nbsp;წაშლა&nbsp;</b></a>
                        </div>

                    </div>
                    <div class="tab-pane nav-active-primary" id="tab-video"
                         aria-expanded="false">
                        <input type="text" class="form-control" ng-model="object.videoURL" placeholder="შეიყვანეთ Youtube-ის ვიდეოს ID"><br/>
                        <hr/>
                        <angular-youtube ng-if="object.videoURL" video="object.videoURL"></angular-youtube>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">დახურვა</button>
                <button type="button" class="btn danger p-x-md"
                        ng-click="save()">შენახვა
                </button>
            </div>
        </div>
    </div>
</div>


