<ul class="nav" ng-if="$root.loggedIn" ui-nav>
    <li class="nav-header hidden-folded">
        <small class="text-muted">მენეჯმენტი</small>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.slider">
            <span class="nav-icon"><i class="fa fa-picture-o" aria-hidden="true"></i></span>
            <span class="nav-text">მთავარი ფოტო</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.events">
            <span class="nav-icon"><i class="fa fa-calendar" aria-hidden="true"></i></span>
            <span class="nav-text">ივენთები</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.about-us">
            <span class="nav-icon"><i class="fa fa-book" aria-hidden="true"></i></span>
            <span class="nav-text">ჩვენს შესახებ</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.separator">
            <span class="nav-icon"><i class="fa fa-border" aria-hidden="true"></i></span>
            <span class="nav-text">გამყოფი ზოლი</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.scroll">
            <span class="nav-icon"><i class="fa fa-circle" aria-hidden="true"></i></span>
            <span class="nav-text">ჰორ. სიახლეები</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.gallery">
            <span class="nav-icon"><i class="fa fa-file-picture-o" aria-hidden="true"></i></span>
            <span class="nav-text">გალერეა</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.sponsors">
            <span class="nav-icon"><i class="fa fa-building" aria-hidden="true"></i></span>
            <span class="nav-text">სპონსორები</span>
        </a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="app.news">
            <span class="nav-icon"><i class="fa fa-newspaper-o" aria-hidden="true"></i></span>
            <span class="nav-text">სიახლეები</span>
        </a>
    </li>
    <!--<li ui-sref-active="active">
        <a ui-sref="app.cashflow">
            <span class="nav-icon"><i class="fa fa-phone" aria-hidden="true"></i></span>
            <span class="nav-text">კონტაქტი</span>
        </a>
    </li>-->
    <!--<li ui-sref-active="active">-->
        <!--<a ui-sref="app.transactions">-->
            <!--<span class="nav-icon"><i class="fa fa-th-list" aria-hidden="true"></i></span>-->
            <!--<span class="nav-text">ქვედა ზოლი</span>-->
        <!--</a>-->
    <!--</li>-->
    <li ui-sref-active="active">
        <a ui-sref="app.menu">
            <span class="nav-icon"><i class="fa fa-list-ol" aria-hidden="true"></i></span>
            <span class="nav-text">მენიუ</span>
        </a>
    </li>
</ul>